.container-beast {
  width: 80%;
  margin: 0 auto;
  padding: 50px 50px;
  background-color: $glitter;
}

.container-beast .info-book {
  display: flex;
  justify-content: space-between;
}

.container-beast .form {
  background-color: $baby-blue;
  padding: 20px
}

.card-review {
  padding: 10px 20px;
  background-color: $taupe-grey;
  margin: 2px 0;
  color: $glitter;
}

.card-review a {
  color: $baby-blue;
}

.banner-star {
  background-color: #07214F;
  padding: 50px 0 10px 0;
}

.banner-star h1 {
  color: $baby-blue;
}

.banner-star h2 {
  color: $glitter;
}

.banner-star a {
  color: $taupe-grey;
  text-decoration: none;
}

