// Specific CSS for your home-page
.banner {
  background-image: linear-gradient(90deg, rgba(14,75,182,0.5032387955182073) 0%, rgba(163,206,241,1) 100%), url(https://vignette.wikia.nocookie.net/game-of-thrones-le-trone-de-fer/images/8/82/Winterfell_8x01_%2825%29.jpg/revision/latest?cb=20190417214040&path-prefix=fr);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  height: 100vh;
}

h1 {
    display: block;
    font-family: 'Merriweather', serif;
    font-size: 6em;
    font-weight: regular;
    color: white;
    text-shadow: 0 0 0.2em #07214F;
}

h1 span {
  font-weight: bold;
  font-style: italic;
}

.container {
    width: 900px;
    margin: auto;
}

a {
    text-decoration: none;
}

.banner .btn-primary {
    display: inline-block;
    background-color: rgba(0,212,255,1);
    padding: 16px 36px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    border: none;
}
