// Import page-specific CSS files here.
@import "home";
@import "beast_show";
@import "sucker_show";

body {
  background-image: image-url("bnbeast.png");
  background-size: cover;
  background-position: center;
}
