<h1>Beasts</h1> <br>
<div>
  <% @beasts.each do |beast| %>
    <div class="card">
      <h4><%= link_to beast.name, beast_path(beast.id) %></h4>
      <%= beast.type.name %> <br>
      <%= link_to beast.sucker.name, sucker_path(beast.sucker.id) %>
    </div>
  <% end %>
</div>
