<div class="banner">
  <div class="container">
    <h1>Fantastic beasts and where to <span>hire</span> them</h1>
<!--     <a class="btn btn-primary" href="#">Find a beast!</a> -->
    <%= link_to "Find a beast!", beasts_path, :class => "btn btn-primary" %>
  </div>
</div>

