.banner-star {
  background-color: #07214F;
  padding: 50px 0 10px 0;
}

.banner-star h1 {
  color: $baby-blue;
}

.banner-star h2 {
  color: $glitter;
}

.banner-star a {
  color: $taupe-grey;
  text-decoration: none;
}
